    :root {
        --num-of-squares: 16;
        --square-size: calc((100%/var(--num-of-squares)));
    }
    body {
        display:flex;
        flex-direction: column;;
        align-items:center;
        justify-content: center;
    }
    .square {
        opacity:0;
        display: flex;
        align-self: center;
        height: var(--square-size);
        width: var(--square-size);
        z-index: 2;
        
    }
    button {
        margin: 2em;
        padding:1em;
        font-family: 'Courier New', Courier, monospace;
    }
    #container {
        width:960px;
        height:960px;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-self: center;
        overflow:hidden;
        outline: .25em solid black;
    }

    .draw {
        background-color: black;
    }