:root {
    --num-of-squares: 16;
    --square-size: calc((100%/var(--num-of-squares)));
}
body {
    display:flex;
    flex-direction: column;;
    align-items:center;
    justify-content: center;
}
div {
    outline: .25em solid black;
    box-sizing: border-box;
    display: flex;
    align-self: flex-start;
    height: var(--square-size);
    width: var(--square-size);
    padding: 0%;
    margin: 0%;
}
button {
    margin: 2em;
    padding:1em;
    font-family: 'Courier New', Courier, monospace;
}
#container {
    width:960px;
    height:960px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-self: center;
}

.draw {
    background-color: black;
}