body {
    display:flex;
    flex-direction: column;;
    align-items:center;
    justify-content: center;
}
div {
    outline: .25em solid black;
    box-sizing: border-box;
    display: flex;
    align-self: flex-start;
    height: 6.25%;
    width:6.25%;
    padding: 0%;
    margin: 0%;
}
button {
    margin: 1em;
}
#container {
    width:960px;
    height:960px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-self: center;
}

.draw {
    background-color: black;
}