body {
    display:flex;
    align-items:center;
    justify-content: center;
}
div {
    outline: .25em solid black;
    box-sizing: border-box;
    display: flex;
    height:100%;
    width: 100%;
    flex:1;
}

#container {
    width:960px;
    height:960px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    

}